@font-face {
  font-family: Roboto-regular;
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto-light;
  src: url(../fonts/Roboto-Light.ttf);
}
@font-face {
  font-family: Roboto-bold;
  src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: Roboto-medium;
  src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: Roboto-thin;
  src: url(../fonts/Roboto-Thin.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-color: #EEEEEE;
}
.container .navbar {
  height: 104px;
  padding: 36px 103px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
}
.container .contact_pop_up {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
.container .contact_pop_up.active {
  display: block;
  overflow: hidden;
}
.container .contact_pop_up_container {
  display: flex;
  width: 100%;
  height: 100%;
}
.container .contact_pop_up_body {
  margin: auto;
  width: 1081px;
  height: 655px;
  background-color: rgba(255, 255, 255, 0.95);
  text-align: center;
  padding: 109px 222px;
  position: relative;
}
.container .contact_pop_up_body p {
  font-family: Roboto-regular;
  font-size: 28px;
  color: #000000;
  margin-bottom: 46px;
}
.container .contact_pop_up_body input {
  margin: auto;
  padding: 0px 150px 0px 30px;
  display: block;
  width: 619px;
  height: 80px;
  border: 1px solid #000000;
  outline: none;
  font-family: Roboto-regular;
  font-size: 24px;
  color: #000000;
}
.container .contact_pop_up_body input:first-child {
  margin-bottom: 20px;
}
.container .contact_pop_up_body button {
  margin-top: 37px;
  padding: 36px 179px;
  font-family: Roboto-medium;
  font-size: 36px;
  color: #000000;
  background-color: #FAFF09;
  border: none;
  cursor: pointer;
}
.container .contact_pop_up_close img {
  position: absolute;
  top: 40px;
  right: 60px;
  cursor: pointer;
}
.container .menu_pop_up {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}
.container .menu_pop_up.active {
  display: block;
  overflow: hidden;
}
.container .menu_pop_up_container {
  display: flex;
  width: 100%;
  height: 100%;
}
.container .menu_pop_up_body {
  margin: auto;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(19, 19, 19, 0.9);
  position: relative;
}
.container .menu_pop_up_body .top_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 37px 106px 21px 106px;
}
.container .menu_pop_up_body #logo {
  margin-bottom: 80px;
}
.container .menu_pop_up_body ul li {
  list-style: none;
  margin-bottom: 50px;
}
.container .menu_pop_up_body ul li a {
  text-decoration: none;
  font-family: Roboto-light;
  font-size: 48px;
  color: #828282;
}
.container .menu_pop_up_body ul li a:hover {
  font-family: Roboto-regular;
  padding: 19px 83px;
  color: #F2F2F2;
  border: 1px solid #F2F2F2;
  transition: all 0.2s ease;
}
.container .menu_pop_up_body .links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 65px;
}
.container .menu_pop_up_close img {
  cursor: pointer;
}
.container main a {
  text-decoration: none;
}

main .top-nav {
  margin: 12px 84px;
}
main .top-nav #first-a, main .top-nav #second-a {
  font-family: Roboto-regular;
}
main .top-nav #first-a {
  color: #828282;
}
main .top-nav #second-a {
  color: #4F4F4F;
}
main .main-title {
  margin: 77px 0px 0px 84px;
  font-family: Roboto-medium;
  font-size: 48px;
  color: #000000;
}
main .review-holder {
  padding: 91px 150px;
}
main .review-holder .member {
  display: flex;
  gap: 30px;
  margin-bottom: 38px;
}
main .review-holder .member img {
  border-radius: 50%;
}
main .review-holder .member .member-info {
  width: 380px;
}
main .review-holder .member .member-name {
  font-family: Roboto-medium;
  font-size: 28px;
  color: #333333;
}
main .review-holder .member .member-job {
  font-family: Roboto-light;
  font-size: 18px;
  color: #4F4F4F;
  margin-bottom: 28px;
}
main .review-holder .member .member-desc {
  font-family: Roboto-light;
  font-size: 28px;
  color: #4F4F4F;
}
main .review-holder .member-comment {
  font-family: Roboto-light;
  font-size: 24px;
  color: #4F4F4F;
  margin-bottom: 71px;
}
main .review-holder .img-collection {
  display: flex;
  gap: 20px;
}
main .review-holder .img-collection .right {
  width: 1211px;
  height: 964px;
  background-image: url(../media/1.png);
  animation-delay: 200ms;
}
main .review-holder .img-collection .left {
  height: 964px;
}
main .review-holder .img-collection .left .img1 {
  width: 299px;
  height: 301px;
  background-image: url(../media/2.png);
  margin-bottom: 20px;
  animation-delay: 400ms;
}
main .review-holder .img-collection .left .img2 {
  width: 299px;
  height: 322px;
  background-image: url(../media/3.png);
  margin-bottom: 20px;
  animation-delay: 600ms;
}
main .review-holder .img-collection .left .img3 {
  width: 299px;
  height: 301px;
  background-image: url(../media/4.png);
  animation-delay: 800ms;
}
main .review-holder .review-desc1 {
  margin: 71px 0px 116px 0px;
}
main .review-holder .review-desc {
  font-family: Roboto-light;
  font-size: 24px;
  color: #4F4F4F;
  margin-bottom: 61px;
}
main .review-holder .bottom-img {
  width: 1530px;
  height: 817.16px;
  background-image: url(../media/5.png);
}

footer {
  position: relative;
}
footer .footer-shapes #trng2 {
  position: absolute;
  left: 883px;
}
footer .footer-navbar {
  width: 100%;
  height: 1053px;
  margin-top: 114px;
  padding: 114px 60px 0px 60px;
  background-image: url(../media/Rectangle\ 56.png);
  background-repeat: no-repeat;
}
footer .footer-navbar .footer-btn {
  margin-top: 177px;
}
footer .footer-navbar .footer-btn a {
  position: absolute;
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: right;
  top: 138px;
  left: 1754px;
  transform: rotate(-90deg);
  text-decoration: none;
  font-family: Roboto-light;
  font-size: 24px;
  color: #000000;
  padding: 21px 23px;
  border: 1px solid #000000;
}
footer .footer-navbar .footer-btn a img {
  transform: rotate(90deg);
}
footer .footer-logo-links {
  margin-top: 315px;
  display: flex;
}
footer .footer-logo-links ul {
  margin-left: 937px;
  display: flex;
  gap: 65px;
}
footer .footer-logo-links ul li {
  list-style: none;
}
footer .footer-links {
  height: 280px;
  display: flex;
  gap: 156px;
}
footer .footer-links .footer-links-title {
  font-family: Roboto-bold;
  font-size: 24px;
  color: #FAFF09;
  margin: 51px 0px 41px 0px;
}
footer .footer-links li {
  list-style: none;
  margin-bottom: 12px;
}
footer .footer-links a {
  font-family: Roboto-light;
  font-size: 18px;
  color: #F2F2F2;
  text-decoration: none;
}
footer .copyright {
  margin-top: 231px;
  font-family: Roboto-light;
  color: #000000;
  text-align: center;
  margin-bottom: 31px;
}

@media (max-width: 834px) {
  main .review-holder .img-collection {
    width: 1211px;
    height: 332px;
    background-position: center;
    background-size: cover;
  }
  .img-collection .right {
    width: 1211px;
    height: 332px;
    background-position: center;
    background-size: cover;
  }
  .img-collection .left {
    height: 328px;
  }
  .left .img1, .left .img2, .left .img3 {
    width: 95px;
    height: 96px;
    background-position: center;
    margin-bottom: 20px;
    background-size: cover;
  }
  .bottom-img {
    width: 533px;
    height: 286.16px;
    background-position: center;
    background-size: cover;
  }
}/*# sourceMappingURL=main.css.map */